<!--Inherits from base.html-->
{% extends "base.html" %}
{% block content %}
<style>
#map { height: 80vh; }

</style>
<div id="map"></div>

<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
<script>
    L.mapbox.accessToken =
    'pk.eyJ1IjoidHJleXN0YWZmIiwiYSI6IjQ5YjU0M2JlMDQ4ZDkwNDQxNTc3Y2RiYTkzNjQxMWVhIn0.ItfAWIrHzkjAsl2DloV4Gw'

    var map = L.mapbox.map('map', '{{ map_type }}');
</script>

    <!--Block content from other templates added here...-->
    {% block map_content %}{% endblock %}
{% endblock %}
